// Color schemes and themes handling

:root
  --color_background: #FFF9EA
  --color_on_background: #333333
  --color_inactive: #F1F3F6

  --color_primary: #2B2A2B
  --color_primary_variant: #40403F
  --color_secondary: #9A0000
  --color_secondary_variant: #FF4C4C
  --color_accent: #335C81

  --color_on_primary: #FFFFFF
  --color_on_primary_variant: #BFBFBF
  --color_on_secondary: #FFFFFF
  --color_on_secondary_variant: #000000
  --color_on_accent: #FFFFFF

  --color_background_hover: rgba(0,0,0,.12)
  --color_accent_hover: darken(#82B1FF, 10%)
  --color_success: #4CAF50
  --color_error: #B00020
  --color_on_success: #000000
  --color_on_error: #FFFFFF

.site_theme_dark
  --color_primary: #1976D2
  --color_primary_variant: #3700B3
  --color_secondary: #424242
  --color_secondary_variant: #018786
  --color_background: #FFFFFF
  --color_background_hover: hsla(0,0%,100%,.12)
  --color_accent: #000000
  --color_accent_hover: darken(#000000, 10%)
  --color_inactive: #F1F3F6
  --color_success: #4CAF50
  --color_error: #B00020
  --color_on_primary: #FFFFFF
  --color_on_primary_variant: #FFFFFF
  --color_on_secondary: #FFFFFF
  --color_on_secondary_variant: #000000
  --color_on_background: #000000
  --color_on_accent: #FFFFFF
  --color_on_success: #000000
  --color_on_error: #FFFFFF

